.gt-container {
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
}

.gt-row {
   padding: 0 15px;
}

.col-8 {
    width: 66.4%;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}

.col-6 {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}
.col-5 {
    width: 41.666%;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}
.col-4 {
    width: 33.333%;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}
.col-3 {
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}
.col-1 {
    width: 8.3%;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
}